.containar{
    background-image: url(/images/cover_bg_3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
.main{
    background-color: #4c00ffe0;
    background-color: #ff9000ef;
    height: 100%;
    padding: 30px 50px;
    border-bottom: 1px solid rgb(255, 255, 255);


}
.display{
    /* border: 1px solid black; */
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* filter: drop-shadow(-0px -0px 10px rgb(0, 0, 0)); */
    box-shadow: -0px -0px 1px rgb(0, 0, 0);
}
.profile_div{
    /* border: 1px solid white; */
    border-radius: 50%;
    margin-bottom: 35px;
    height: 180px;
    width: 180px;  
    padding: 4px;
}
.profile{
    /* padding: 5px; */
    border-radius: 50%;
    height: 180px;
    width: 180px;
    padding: 0px 3px;
    filter: drop-shadow(-0px -0px 10px rgba(255, 255, 255, 0.856));
}
.tital_div{
    /* border: 1px solid white; */
    color: white;
    transform: rotate(-5deg);
    /* font-family: "Kaushan Script", cursive; */
    margin-bottom: 30px;
}
.tital{
    font-family: cursive;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 500;
}
.subject_div{
    /* border: 1px solid white; */
    color: whitesmoke;
    margin-bottom: 30px;
}
.subject{
    font-family: "Space Mono", Arial, serif;
    font-weight: 500;
    line-height: 1.1;

}
.icons_div{
    /* border: 1px solid white; */
    display: flex;
    padding: 8px;
    gap: 20px;
}
.icon{
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 50%;
}
.icon:hover{
    border: 1px solid rgb(0, 0, 0);
    transition: 0.8s;
    filter: drop-shadow(-0px -0px 10px rgb(0, 0, 0));

}
.icon:active{
    border: 3px solid rgb(155, 13, 20);
    transition: 0.2s;
}
@media(max-width: 600px){
    .tital{
        font-size: 40px;

    }
}
@media(max-width: 494px){
    .tital{
        font-size: 30px;

    }
    .subject{
        font-size: small;
    }
}
@media(max-width: 400px){
    .tital{
        font-size: 25px;

    }
    .icons_div{
        gap: 12px;
    }

    .profile_div{

        height: 150px;
        width: 150px;  
    }
    .profile{
        height: 150px;
        width: 150px;

    }

}
@media(max-width: 350px){
    .main{
        padding: 20px 30px;
    
    }
}
@media(max-width: 310px){
    .main{
        padding: 20px 20px;
    
    }
}
@media(max-width: 290px){
    .tital{
        font-size: 20px;

    }
    .subject{
        font-size: 10px;
    }
}
@media(max-width: 240px){
    .tital{
        font-size: 18px;

    }
    .subject{
        font-size: 10px;
    }
}
