.bg_div{
    background-image: url(/images/cover_bg_3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.containar{
    height: 100%;
    /* border: 1px solid black; */
    background-color: #ff9000ef;
    background-color: rgba(0, 0, 0, 0.801);
}
.tital_div{
    padding: 30px;
    padding-top: 70px;
    text-align: center;
}
.tital{
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
}
.main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}   

.grid_containar{
    padding: 50px 50px;
    gap: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.card {
    position: relative;
    width: 225px;
    height: 225px;
    background-color: rgba(221, 218, 218, 0.562);
    overflow: hidden;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  } 
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
  } 
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.473);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: opacity 0.3s ease;
  } 
  .card:hover img {
    opacity: 0.8;
  }
  .card:hover .content {
    opacity: 1;
  }
  .live{
    background-color: rgb(67, 67, 255);
    height: 36px;
    width: 100px;
    margin-top: 20px;
    border-radius: 3px;
    font-weight: bolder;
    color: white;
  }
.live:hover{
    transition: ease-in-out 0.4s;
    width: 200px;
    background-color: rgb(0, 0, 245);
}
.live:active{
    transition:0.2s;
    
    background-color: rgb(0, 0, 70);
}
.heading{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.pera{
    font-weight: 500;
    font-size: small;
}

@media(max-width: 1115px){
    .grid_containar{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width: 905px){
    .grid_containar{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 610px){
    .grid_containar{
        grid-template-columns: 1fr;
    }
}