.containar {
  height: 70vh;
}
.main {
  height: 350px;
  padding: 50px;
  display: flex;
  align-items: center;
  background-color: #4c00ffe0;
  background-color: #000000de;
  justify-content: space-around;
  color: white;
  gap: 10px;
}
.bg_one {
  background-image: url(/images/cover_bg_3.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading_one {
  font-size: 23px;
  font-weight: bold;
}
.heading_two {
  font-size: 16px;
}
.btn {
  padding: 12px 30px;
  color: black;
  background-color: white;
  font-weight: bolder;
  font-size: larger;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: black;
  color: white;
  transition: 0.8s;
}
@media (max-width: 650px) {
  .main {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .main {
    padding: 20px;
  }
  .heading_one {
    font-size: 20px;
    font-weight: bold;
  }
  .heading_two {
    font-size: 14px;
  }
}
.main2 {
  height: 15%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(0, 0, 0);
  gap: 10px;
  text-align: center;
}
