
.containar {
  min-height: 100vh;
  padding: 30px 50px;
}
.main {
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.div_one {
  width: 100%;
  height: 20%;
  text-align: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.tital {
  font-family: monospace;
  font-weight: 400;
  font-size: 40px;
}
.div_two {
  width: 100%;
  height: 80%;
  display: flex;
  padding: 2px;
}
.about_div {
  width: 35%;
  height: 100%;
  align-content: center;
  padding: 60px 20px;
}
.about {
  padding: 20px;
  font-size: 18px;
  font-family: monospace;
}
.info_div {
  width: 65%;
  height: 100%;
  padding: 50px 20px;
}
.information {
  padding: 20px;
  font-size: 20px;
  font-family: monospace;
}
.information_h1 {
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 10px;
}
.information_pera {
  font-size: 15px;
}
.icons_div {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  gap: 20px;
}
.icon {
  padding: 5px;
  background-color: rgb(178, 180, 204);
  border-radius: 5px;
}
.icon:hover {
  background-color: #ff0000c2;
  transition: 0.5s;
}
@media (max-width: 1091px) {
  .div_two {
    flex-direction: column;
    height: 100%;
  }
  .about_div,
  .info_div {
    width: 100%;
  }
}
@media (max-width: 541px) {
  .containar {
    padding: 30px 30px;
  }
}
@media (max-width: 502px) {
  .containar {
    padding: 10px 20px;
  }
  .about_div,
  .info_div {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .tital {
    font-size: 30px;
  }
  .information_h1 {
    font-size: 30px;
  }
}
@media (max-width: 482px) {
  .about,
  .information {
    font-size: 16px;
  }
  .about_div,
  .info_div {
    padding: 15px 10px;
  }
  .icons_div {
    padding: 8px;
    gap: 10px;
  }
  .icon {
    padding: 2px;
  }
}
@media (max-width: 396px) {
  .about,
  .information {
    font-size: 13px;
  }
}
@media (max-width: 347px) {
  .about,
  .information {
    font-size: 13px;
    padding: 3px;
  }
  .information_h1 {
    font-size: 26px;
  }
}
@media (max-width: 314px) {
  .tital {
    font-size: 25px;
  }
  .information_h1 {
    font-size: 23px;
  }
  .about,
  .information {
    font-size: 11px;
  }
}
